// sass --watch sass:public/css --style compressed
// font-family: 'Mansalva', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Montserrat Alternates', sans-serif;
@import "vars";

.hidden {
    display: none;
}

html {
    scroll-behavior: smooth;
}

img, embed, object, video {
    max-width: 100%; 
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#container {
    width: 100%;
    max-width: 1360px;
    min-width: 320px;
}

li{
    list-style-type: none;
}

a:link, a:visited
{
 text-decoration:none;
}

a:hover, a:active
{
 text-decoration:none;
}

//....................................................................

@mixin col() {
    display: flex;
    flex-direction: column;
}

@mixin row() {
    display: flex;
    flex-direction: row;
}

.col {
    @include col();
}

.row {
    @include col();
}

#mainNav {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 99;
    border-right: 1px solid black;
    ul li {
        @include col();
        text-align: right;
        font-size: 13px;
        font-family: $p-font;
        font-weight: bold;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-right: 3px;
        a {
            color: black;
            &:hover {
                color: $theme-blue;
                font-size: 15px;
                transition: all 0.5s ease;
            }
        }
        img {
            display: none;
        }
    }
}

h2 {
    font-family: $heading-font;
}

h3, p {
    font-family: $p-font;
}

#vidSec {
    height: 100%;
    position: relative;
    #vid {
        z-index: 0;
        position: relative;
    }
    img {
        z-index: 1;
        position: absolute;
        padding-top: 5%;
        padding-left: 3%;
        padding-right: 2%;
        width: 40%;
        background-color: $theme-blue;
        border-radius: 0% 0% 40% 0%;
        top: 0;
        left: 0;
    }
}

#features {
    margin: 7%;
    #bamboo1 {
        width: 100%;
        margin: 0 auto;
    }
    #featureText {
        margin: 3%;
    }
    .IconC {
        @include col();
        img {
            width: 50%;
        }
    }
}

