<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Bamboo™ Slate</title>
    <link href="https://fonts.googleapis.com/css?family=Mansalva%7CMontserrat%7CMontserrat+Alternates&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="hidden">Bamboo™ Slate</h1>
        <header id="mainHead">
            <div id="navCon">
                <nav id="mainNav">
                    <h2 class="hidden">Main Navigation</h2>
                    <ul>
                        <li><a href="#vidSec">INTRO</a><img src="images/pencil.svg" alt="penci icon" class="pen p1"></li>
                        <li><a href="#features">FEATURES</a><img src="images/pencil.svg" alt="pencl icon" class="pen p2"></li>
                        <li><a href="#why">WHY BAMBOO</a><img src="images/pencil.svg" alt="penil icon" class="pen p3"></li>
                        <li><a href="#gallery">GALLERY</a><img src="images/pencil.svg" alt="pecil icon" class="pen p4"></li>
                        <li><a href="#shop">SHOP</a><img src="images/pencil.svg" alt="pncil icon" class="pen p5"></li>
                    </ul>
                </nav>
            </div>
        </header>
        <section id="vidSec">
            <h2 class="hidden">Bamboo™ Slate Video</h2>
            <video controls autoplay muted id="vid">
                <source src="/media/wacom_bamboo_slate.mp4" type="video/mp4">
                Sorry, your browser doesn't support embedded videos.
            </video>
            <img src="images/bamboo_slate.png" alt="bamboo slate logo">
        </section>
        <section id="features">
            <div class="col">
                <div class="row">
                    <img id="bamboo1" src="images/bamboo_1.jpg" alt="bamboo 1">
                    <div id="featureText" class="col">
                        <h2>Smartpad</h2>
                        <p>Take handwritten notes and ideas further with Bamboo Slate. Write naturally with pen on any paper, then store, shape and share your notes and ideas in the cloud.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="IconC">
                        <img src="images/size.svg" alt="size icon">
                        <h3>Available in small & large sizes</h3>
                    </div>
                    <div class="IconC">
                        <img src="images/basic_control.svg" alt="basic_control icon">
                        <h3>Require Wacom inkspace app</h3>
                    </div>
                    <div class="IconC">
                        <img src="images/hands.svg" alt="hands icon">
                        <h3>Right or Left-handed use</h3>
                    </div>
                    <div class="IconC">
                        <img src="images/colour.svg" alt="colour icon">
                        <h3>Three colours available</h3>
                    </div>
                    <div class="IconC">
                        <img src="images/connections.svg" alt="connections icon">
                        <h3>Micro-USB,Bluetooth®</h3>
                    </div>
                    <div class="IconC">
                        <img src="images/compatibility.svg" alt="compatibility icon">
                        <h3>Windows,Android™,Apple</h3>
                    </div>
                </div>
            </div>
        </section>
        <section id="why">
            <div class="col">
                <div class="row">
                    <h2>Why Bamboo™ Slate</h2>
                    <p>There's no limit to your ideas with Bamboo Slate. Write on any paper and with a push of a button convert your handwritten notes and sketches into digital files. Don't worry if you're not near your mobile device, you can store up to 100 pages on Bamboo Slate and sync later.</p>
                    <img src="images/bamboo_2.jpg" alt="bamboo 2">
                </div>
                <div class="row">
                    <img src="images/bamboo_3.png" alt="bamboo 3">
                    <div class="col">
                        <h2>Export To The Cloud And Beyond</h2>
                        <p>Sync your notes with the Inkspace cloud service for access on all your devices or export files directly to other cloud service such as Dropbox®, Evernote® or OneNote®. The Wacom Inkspace app also supports exporting your work as JPG, PNG, PDF and WILL file format.</p>
                        <img src="images/twoIcon.png" >
                    </div>
                </div>
            </div>
        </section>
        <section id="gallery">
            <h2 class="hidden">Gallery</h2>
            <div id="placement">
                <img src="images/g_1.jpg">
                <img src="images/g_2.png">
                <img src="images/g_3.jpg">
                <img src="images/g_4.jpg">
                <img src="images/g_5.jpg">
                <img src="images/g_6.jpg">
                <img src="images/g_7.jpg">
                <img src="images/g_8.jpg">
                <img src="images/g_9.png">
            </div>
        </section>
        <footer id="mainFooter">
            <img src="images/bamboo_slate.png" alt="bamboo slate logo">
            <a href="https://www.wacom.com/en-us/products/smartpads/bamboo-slate#Specifications">Copyright© 2018-2019 Wacom. All Rights Reserved.</a>
        </footer>
    </div>

    <script src="js/main.js"></script>
</body>
</html>